/Client GUI/nbproject/private/
/Client GUI/build/
/Client GUI/dist/
/Protocol/nbproject/private/
/Server/nbproject/private/
/Client/nbproject/private/
/Client/build/
/Protocol/build/
/Protocol/dist/
/Client/dist/
/Server/build/